.signInGoogle, .signInGithub{
    color: aliceblue;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.signInGoogle:hover{
    background-color: #874141;
}

.signInGithub:hover{
    background-color: #2b2b2b;
}

.signIn a{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}

.signInGoogle{
    background-color: #7d3a3a;
}

.signInGithub{
    background-color: #282727;
}

