.sidebar ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar li {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
  }

  .sidebar li:hover {
    background-color: #414141;
  }

  .sidebar{
    width: 400px;
    padding-right: 10px;
  }