.commentsTab {
  padding: 15px;
  margin: 20px;
  border-radius: 8px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 1500px;
  background-color: #16181b;
  z-index: 2;
  min-height: 500px;
}

.commentsList {
  list-style: none;
  padding: 0;
  margin-left: 20px;
}


.comment {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.commentsTab h1{
  margin-bottom: 20px;
  margin-left: 10px;
  border-bottom: 2px solid #282E33;
  padding: 20px;
}

.commentsTab h2{
  text-align: center;
  margin-top: 200px;
}

.addComment{
  display: block;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.addComment input{
  display: block;
  padding: 10px 10px 10px 10px ;
  color: white;
  background-color:#22272B ;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 1370px;

}

.addComment button{
  border: none;
  padding: 10px 10px 10px 10px;
  background-color: #5e96e5;
  cursor: pointer;
  margin-top: 5px;
  border-radius:  10px;
}



.addComment button:hover{
  background-color: #64a0f4;

}