.taskGroup{
    width: 300px;
    background-color: #5c5c5c;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}
.taskName{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bbutton{
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
}

.addButton{
    border: none;
    cursor: pointer;
    background: none;
    color: white;
    width: 270px;
    border-radius: 3px;
    text-align: left;
    padding: 10px;
}

.addButton:hover {
    background-color: #969696;
}

.taskName button p{
padding-bottom: 8px;

}

.bbutton:hover{
    background-color: #969696;
    
}

.taskGroup ul {
    list-style: none;
    padding: 0;
    margin: 20px;
}

.taskGroup li {
    background-color: #212121;
    margin: 0 0 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}


