.listGroup{
    display: flex;
}

.addList{
    width: 150px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    border: none;
    background-color: #8a949e;
    color: aliceblue;
    cursor: pointer;
}

.addList:hover{
    background-color: #8d99a7;
}

.appContainer{
    display: flex;
}